
<h1>My tasks</h1>



<% @tasks.each do |task| %>
  <% if task.completed %>
    <p><i class="far fa-check-square"></i><%= link_to task_path(task) do  %>
    <%= task.title %></p> <%= link_to "Delete", task_path(task), method: :delete, data: { confirm: "Are you sure?" } %>

    <%end%>
  <%else%>
    <p><i class="far fa-square"></i><%= link_to task_path(task) do  %>
    <%= task.title %></p> <%= link_to "Delete", task_path(task), method: :delete, data: { confirm: "Are you sure?" } %>

    <%end%>
  <%end%>
<%end%>

  <%= link_to "add new task", new_task_path %>
